<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.eclipse.org/xtext/example/xmleditor/Xml"
			class = "org.eclipse.xtext.example.xmleditor.simplexml.SimplexmlPackage"
			genModel = "model/generated/Xml.genmodel" />
	</extension>
</plugin>
